<launch>
  <!-- ros arduino bridge launch-->

  <include file="$(find tf_learning)/launch/picture_frame_pub.launch"/>

  <arg name="map_file" default="/var/www/maps/now/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />


  <node name="operation_ppl_nw_listener" pkg="tf_learning" type="ppl_nw_listener" args="$(arg map_file)" output="screen"/>

</launch>