<launch>

<arg name="map_file" default="/var/www/maps/2/2.yaml"/>
<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

<!--broadcaste the picture frame-->

<node name="picture_frame_broadcaster" pkg="tf_learning" type="world_tf_broadcaster" output="screen" />
<node name="nw_listener" pkg="tf_learning" type="nw_listener" output="screen" />



</launch>
