<launch>

  <!--<include file="$(find tf_learning)/launch/picture_frame_pub.launch"/>-->

  <!--<arg name="map_file" default="/var/www/maps/now/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />-->

  <node name="edit_nav_task" pkg="gpsbot_navigation" type="edit_nav_task" output="screen"/>
  <!--<node name="draw_points_and_nav" pkg="gpsbot_navigation" type="draw_points_and_nav" output="screen"/>-->

</launch>
